/* General styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e9f5e9; /* Light green background */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  padding: 10px;
  background-color: #f1f8f1; /* Slightly darker green background */
  border-radius: 10px;
  max-width: 450px;
  margin: 20px auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.h2 {
  color: #2b8a3e; /* Dark green */
  text-align: center;
  padding: 10px 0;
  font-size: 2rem;
}

.sel {
  padding: 10px;
  border: 2px solid #4caf50; /* Green border */
  border-radius: 5px;
  width: 350px; /* Set width to 100% for proper centering */
  max-width: 600px; /* Set a max-width for larger dropdown */
  margin-bottom: 20px;
}

.label {
  font-weight: bold;
  color: #2b8a3e; /* Dark green */
  margin-bottom: 5px;
  display: block;
  text-align: center; /* Center label text */
}

.input {
  padding: 10px;
  border: 2px solid #4caf50;
  border-radius: 5px;
  width: 350px; /* Set width to 100% for proper centering */
   /* Set a max-width for larger input fields */
  box-sizing: border-box;
  margin-bottom: 15px;
}

.input:focus {
  outline: none;
  border-color: #45a049; /* Darker green on focus */
}

.butt {
  background-color: #4caf50; /* Medium green */
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom:20px;
  font-weight: bold;
  width: 100%; /* Set width to 100% for proper centering */
  max-width: 350px; /* Set a max-width for larger button */
}

.butt:hover {
  background-color: #45a049; /* Darker green on hover */
}

/* Responsive design */
@media (max-width: 768px) {
  .container {
    width: 90%;
  }

  .h2 {
    font-size: 1.5rem;
  }
}
p{
  width: 85%;
}