.flex1 {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.flex2 {
    display: flex;
    flex-direction: column;
}

.b {
    width: 210px;
    background-color: white;
    border: 0.3px solid green;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: start;
    border-radius: 2px;
}

.button2 {
    background-color: #53c089;
    color: white;
    width: 140px;
    margin: 5px;
    font-size: 18px;
    height: 30px;
    margin-top: -1px;
    border-radius: 5px;
    border: 0.5px solid green;
}


.div {
    position: relative;
    height: 50vh;
    background-color: rgb(169, 217, 169);
    align-self: center;
    width: fit-content;
}

.link{
    color: white;
    text-decoration:none;
}

.button {
    background-color: rgb(18, 152, 18);
    width: 200px;
    font-size: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    color: white;
    border: 0.6px solid green;
}

.button1 {
    background-color: rgb(17, 148, 17);
    width: 200px;
    font-size: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    margin-left: 330px;
    color: white;
    border: 0.6px solid green;
}

.button1:hover {
    cursor: pointer;
    margin-top: 0;
}

.div2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    flex-direction: column;
}

.h1 {
    color: #028f48;
    margin-bottom: 50px;
    font-weight: bold;
}

.img {
    width: 50px;
    height: 40px;
    margin-left:10px;
    margin-bottom:-15px;
}

.select{
    height: 35px;
}